*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1fr 100px;
    padding: 70px 70px 24px 70px;
    background-image: url(./image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    font-family: 'Josefin Sans', sans-serif;
}

main{
    display: grid;
    height: 150px;
    grid-gap: 24px;
}

.logo__icon{
    height: 150px;
    width: 45%;
}

.description_text{
    color: white;
    width: 60%;
    font-size: 20px;
    text-align: justify;
    line-height: 24px;
}

header{
    color: white;
    font-size: 14px;
    position: relative;
    display: flex;
    grid-gap: 50px;
}

footer{
    display: flex;
    gap: 22px;
    align-items: flex-end;
}
