*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1fr 100px;
    padding: 70px 70px 24px 70px;
    background-image: url(./image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    font-family: 'Josefin Sans', sans-serif;
}

main{
    display: grid;
    height: 150px;
    grid-gap: 24px;
}

.logo__icon{
    height: 150px;
    width: 45%;
}

.description_text{
    color: white;
    width: 60%;
    font-size: 20px;
    text-align: justify;
    line-height: 24px;
}

header{
    color: white;
    font-size: 16px;
    position: relative;
    display: flex;
    grid-gap: 50px;
}

main{
    display: grid;
    height: 150px;
    width: 100%;
    grid-gap: 24px;

}

.logo__icon{
    height: 200px;
    width: 40%;
}

.esquerdo{
    width: 100%;
}

.description_text{
    color:white;
    width: 45%;
    font-size: 25px;
    text-align: justify;
    line-height: 27px;
}

.redes{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    grid-gap: 24px;
    place-items: end;

}

footer{

    display: flex;
    gap: 22px;
    align-items: end;
}

footer{
    display: flex;
    gap: 22px;
    align-items: flex-end;
}